.titulo{
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn{
    margin-right: 20px;
    margin-top: 10px;
}

#boton{
    width: 100%;
    margin-top: -2px;
}

#redes{
    margin-left: 10px;
}

.card{
    width: 15rem;
    height: 34rem;
}